@model List<Blogie.core.BlogInfo.BlogData>
<div class="jumbotron bg-secondary mb-4">
  <div class="container">
    <div class="mb-4">
        <div class="text-center text-light">
            <h3>Welcome to Blogie</h3>
        </div>
        <nav class=" nav justify-content-center nav-pills flex-column flex-md-row">
            <a class="nav-link text-light" href="#topic" data-bs-toggle="collapse" aria-expanded="false" data-bs-dismiss="contact reg">Topics</a>
            <a class="nav-link text-light" href="#contact" data-bs-toggle="collapse" aria-expanded="false" data-bs-dismiss="topic reg">Contact</a>
            <a class="nav-link text-light" href="#reg" data-bs-toggle="collapse" aria-expanded="false" data-bs-dismiss="topic contact">Registration</a>
        </nav>
        <div class="">
            <div class="collapse" id="topic">
                 <button type="button" class="btn-close text-reset" data-bs-dismiss="collapse" aria-label="Close"></button>
                <div class="" >
                <h1>Here the topics</h1>
            </div>
            </div>
             <div class="collapse"id="contact">
                <div class="" >
                <h1>Here the Contact Info</h1>

            </div>
            </div>
             <div class="collapse"id="reg">
                <div class="" >
                <h1>Here the topics</h1>

            </div>
            </div>
        </div>
    </div>
  </div>
</div

<div class="container overflow-auto">
    @foreach (var i in Model)
    {
        <div class="container mb-4">
            <div class="row justify-content-center mb-4">
                <div class="col-sm-3 col-lg-6 card mb-5">
                    <img class="card-img-top" style="height:25rem" src="@i.Thumnail" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@i.Title</h5>
                        <p class="card-text">@i.Summary</p>
                        <p class="card-text"><small class="text-muted">Written by</small></p>
                        <p>@i.Name</p>
                        <div class="row"><a asp-controller="Bloggie" asp-action="ShowDetails" asp-route-id="@i.Id" class="">Continue Reading ></a></div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

   

